body{
  overflow:hidden;
  background-image: url(img/top_edit.jpg); 
  background-size: 100%;
}


.xibbigge{
  position:absolute;
}

#gibbixbehaelter {
  position:absolute;

  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;  /*Optional: Adjust the z-index if needed */
}

#explosion{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;

}

#infra{
  position:absolute;
}


















